<h2><%= @def.type %></h2>

<h4>A definition for <b><u><%= @word.name %></u></b>:</h4>

<h5><%=@def.name%></h5>

<a href="/home_page/<%= @word.id %>/define/<%=@def.id%>/edit">Edit definition</a>
<br>
<br>
<a href="/home_page">Back to Home</a>
